:root {
    /* section values */
    --section-pad1: 10vw;
    --section-pad2: 25px;

    /* color pallette */
    --primary-color: #5C4033;
    --secondary-color: #FCE883;
    --tertiary-color: white;
    --alt-color1: white;
    --alt-color2: #FBF6D9;

    /* font values */
    --h1-size: 24px;
    --h2-size: 18px;

    /* photo values */
    --border-rad: 5%;
    --photo-min-width: 10rem;
    --photo-width: 20vw;

    /* common spacing values */
    --paragraph-spacing: 5px;
    --standard-spacing: 1rem;

}


/*      =====       Base Formatting     =====       */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
}

main {
    width: max(75vw, 500px);
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

section {
    padding-left: var(--section-pad1);
    padding-right: var(--section-pad1);
    padding-bottom: var(--section-pad2);
    padding-top: var(--section-pad2);
    margin: 0;
}

p {
    margin-bottom: var(--paragraph-spacing);
}


/*      =====     Alternating Colors    =====       */

section:nth-child(2n) {
    background-color: var(--alt-color1);
}

section:nth-child(2n+3) {
    background-color: var(--alt-color2);
}


/*      =====       Menu Styling        =====       */
header {
    position: fixed;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;

    z-index: 5;
    
    width: fit-content;
    border-radius: 0px 0px 10px 10px;  
    background-color: var(--tertiary-color);
}

header > ul {
    padding: 0;
    width: 100%;
    margin: 1%;
}

header > ul > li {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}

header > ul > li > a {
    color: var(--primary-color);
    text-decoration: none;
}


/*      =====       Intro Styling       =====       */

#intro-grid {
    display: flex;
    flex-direction: row;
    min-height: 98vh;
    padding-top: 0;
    
    background-image: url(../images/sunflowers_bg_min.png);
    background-size: auto 105%;

    align-items: center;
    justify-content: center;

}

#intro-grid > div {
    text-align: center;
    margin-right: var(--standard-spacing);
    margin-left: var(--standard-spacing);
}

#black-box {
    padding: 2rem;
    min-width: 10rem;

    background: rgba(0,0,0,0.85);
    color:white;
    border-radius: var(--border-rad);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#name-title {
    padding-bottom: var(--standard-spacing);
}

#profile-photo {
    border-radius: var(--border-rad);

    min-width: var(--photo-min-width);
    width: var(--photo-width);
    height: auto;
}


/*      =====       Skill Styling       =====       */

.skill-section > ul {
    padding: 0;
    text-align: center;
}

.skill-section > ul > li {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

#software > ul > li {
    padding: 5px 12px;
}


/*      =====       Footer Styling       =====       */

footer {
    min-height: 50px;
    background-color: var(--secondary-color);
}